# Зависимости
node_modules/

# Папка с скомпилированными файлами
/dist

# Файлы окружения
.env

# Файлы логов
*.log

# Директории IDE и текстовых редакторов
.vscode/
.idea/
*.sublime-workspace

# Операционные системы файлы
.DS_Store
Thumbs.db
